{% extends 'base.html.twig' %}

{% block title %}Administration - Ajouter une catégorie{% endblock %}

{% block body %}
    <h1 class="mt-3">Créer une nouvelle catégorie</h1>
    <hr>
    {{ include('admin_category/_form.html.twig') }}

    <p class="my-4"><a class="bg-primary p-3 rounded my-auto text-decoration-none text-white letter-spacing" href="{{ path('category_index') }}">Retourner aux catégories</a></p>
{% endblock %}
