<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Boodiz - Le site de blagues en ligne{% endblock %}</title>
    {% block stylesheets %}{{ encore_entry_link_tags('app') }}{% endblock %}
    {% block javascripts %}{{ encore_entry_script_tags('app') }}{% endblock %}
</head>
<body class="d-flex flex-column min-vh-100">
{% block header %}
    <header>
        {% include 'include/_navbar.html.twig' %}
    </header>
{% endblock %}

<main class="container bg-white p-10 overflow-hidden">
    {% block body %}{% endblock %}
</main>

{% block footer %}
    <footer>
        {% include ('include/_footer.html.twig') %}
    </footer>
{% endblock %}

</body>
</html>